.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid hsl(0, 0%, 50%, 0.3);
}

.sidenav i{
    color: white;
}

.sidenav div:hover{
    cursor: pointer;
}

.topnav img{
    cursor: pointer;
    width: 90px;
    height: 80px;
    object-fit: cover;
    margin: 65px 60px 30px;
}

.middlenav div{
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 17px;
}

.middlenav li{
    display: flex;
}

.bottomnav li{
    display: flex;
}

.bottomnav div{
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 17px;
}

.content{
    position: relative;
    left: 15%;
    width: 85%;
    height: 100%;
    padding: 30px 70px;
}



.user-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.user-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 420px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.user-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.user-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.user-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.user-controller button i{
    color: black;
}

.user-search{
    position: relative;
}

.user-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.user-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.user-controller label{
    color: white;
    margin: 0 10px;
}

.user-header{
    font-weight: bold;
}
.user-header,
.user-info{
    display: grid;
    grid-template-columns: 2fr 2fr 2.5fr 2.5fr 4fr 2fr 1.5fr 1fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.user-status{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.user-status-lock{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.user-action i{
    cursor: pointer;
}

.user-action i:nth-of-type(1){
    margin-right: 10px;
}

.manga-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.manga-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.manga-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 400px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.manga-controller input[type='date']{
    width: 12%;
    padding: 0 10px;
    color: var(--gray);
}

.manga-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.manga-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.manga-controller button i{
    color: black;
}

.manga-search{
    position: relative;
}

.manga-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.manga-controller i:nth-of-type(1){
    color: white;
}

.manga-controller label{
    color: white;
    margin: 0 10px;
}

.manga-header{
    font-weight: bold;
}

.manga-header,
.manga-info{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 1.5fr 2fr 1fr;
    padding: 15px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.manga-info img{
    width: 80px;
    height: 100px;
}

.manga-action i{
    cursor: pointer;
}

.manga-action i:nth-of-type(1){
    margin-right: 10px;
}

.manga-icon{
    display: flex;

}

.manga-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.manga-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.manga-icon i{
    margin-right: 5px;
    color: black!important;
}

.add-product{
    display: flex;
    width: 100%;
    column-gap: 40px;
}

select {
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 40px;
    cursor: pointer;
    color: white;
    margin-right: 25px;
}

.add{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.add-info *{
    margin-bottom: 15px;
}

.add h2{
    color: white;
    text-align: center;
}

.add label{
    color: white;
}

.add input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
}

.add textarea{
    width: 100%;
    height: 70px;
    padding: 10px;
}

.add select{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 40px;
    cursor: pointer;
    color: black;
    width: 100%;
}

.add-imgs{
    display: flex;
    justify-content: space-between;
}

.add-img img{
    width: 320px;
    border-radius: 5px;
}

.add-file{
    text-align: center;
    margin-top: 20px;
}

input[type='file'] {
    display: none;
}


.add-label {
    background-color: var(--green-l);
    color: #fff;
    padding: 15px 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin: auto;
    cursor: pointer;
}

.add-label i {
    font-size: 15px;
    margin-right: 8px;
    cursor: pointer;
}

.add-btns button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
    margin: 20px 0;
}

.add-btns button:hover{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.8);
}


.order-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.order-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 450px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.order-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.order-search{
    position: relative;
}

.order-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.order-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.order-controller label{
    color: white;
    margin: 0 10px;
}

.order-header{
    font-weight: bold;
}

.order-header,
.order-info{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1.5fr 1.5fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.order-action i{
    cursor: pointer;
}

.order-action i:nth-of-type(1){
    margin-right: 10px;
}

.order-status-pending{
    background-color: rgb(230, 158, 25);
    padding: 5px;
    border-radius: 5px;
}

.order-status-delivered{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.user-status-canceled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.order-action{
    cursor: pointer;
}

.admin-login-container{
    background: url('../assets/access-denied.png') no-repeat center center/cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#admin-login{
    width: 350px;
    position: absolute;
    height: 560px;
    right: 2%;
    top: 50%;
    transform: translateY(-36%);
}

#admin-login h1{
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.admin-login-input{
    width: 100%;
    height: 52px;
    margin: 17px 0;
}

/* .admin-login-input label {
    color: rgba(255, 51, 0, 0.76);
    font-size: 14px;
    display: block;
    margin: 5px;
    font-family: 'Poppins-Regular', sans-serif;
} */

#admin-login input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: black;
}

#admin-login input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

#admin-login-btn{
    width: 100%;
    height: 60px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

#admin-login-btn:hover {
    cursor: pointer;
    background-color: var(--green-l);
}

#admin-login a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

#admin-login a::after{
    content: '';
    background-color: var(--gray);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#admin-login a:hover::after{
    width: 0;
}

.add-user-container{
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.add-user{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: var(--black);
    width: 90%;
    max-width: 520px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.add-user i{
    position: absolute;
    font-size: 18px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.add-user i:hover{
    transform: translateY(-5px);
}

.add-user label{
    color: white;
    font-weight: bold;
}

.add-user input{
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    border: solid 1px #363636;
    outline: none;
    margin: 10px 0 10px;
    border-radius: 5px;
}

.add-user button{
    padding: 7px 7px 7px 5px;
    background-color: var(--green);
    color: black;
    border: none;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    margin: auto;
    border-radius: 5px;
}

.add-user button:hover {
    background-color: var(--green-l);
}

.add-user h2 {
    text-align: center;
    margin-bottom: 25px;
}