.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid hsl(0, 0%, 50%, 0.3);
}

.sidenav li{
    color: white;
}

.sidenav li:hover{
    cursor: pointer;
}

.topnav img{
    cursor: pointer;
    width: 90px;
    height: 80px;
    object-fit: cover;
    margin: 65px 60px 30px;
}

.middlenav li{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    padding-left: 25px;
}

.bottomnav li{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    padding-left: 25px;
}

.content{
    position: relative;
    left: 15%;
    width: 85%;
    height: 100%;
    padding: 30px 70px;
}

select {
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 40px;
    cursor: pointer;
    color: white;
    margin-right: 25px;
}

.user-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.user-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 420px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.user-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.user-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.user-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.user-controller button i{
    color: black;
}

.user-search{
    position: relative;
}

.user-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.user-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.user-controller label{
    color: white;
    margin: 0 10px;
}

.user-header{
    font-weight: bold;
}
.user-header,
.user-info{
    display: grid;
    grid-template-columns: 2fr 3.5fr 2.5fr 4fr 2.5fr 2fr 2fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.user-status-Active{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.user-status-Disabled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.user-action i{
    cursor: pointer;
}

.user-action i:nth-of-type(1){
    margin-right: 10px;
}

.user-icon{
    display: flex;
}

.user-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.user-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.user-icon i{
    margin-right: 5px;
    color: black!important;
}

.add-user-container{
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.add-user{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: var(--black);
    width: 90%;
    max-width: 520px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.add-user i{
    position: absolute;
    font-size: 18px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.add-user i:hover{
    transform: translateY(-5px);
}

.add-user label{
    color: white;
    font-weight: bold;
}

.add-user input{
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    border: solid 1px #363636;
    outline: none;
    margin: 10px 0 10px;
    border-radius: 5px;
}

.add-user button{
    padding: 7px 7px 7px 5px;
    background-color: var(--green);
    color: black;
    border: none;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    margin: auto;
    border-radius: 5px;
}

.add-user button:hover {
    background-color: var(--green-l);
}

.add-user h2 {
    text-align: center;
    margin-bottom: 25px;
}


.manga-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.manga-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.manga-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 400px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.manga-controller input[type='date']{
    width: 12%;
    padding: 0 10px;
    color: var(--gray);
}

.manga-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.manga-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.manga-controller button i{
    color: black;
}

.manga-search{
    position: relative;
}

.manga-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.manga-controller i:nth-of-type(1){
    color: white;
}

.manga-controller label{
    color: white;
    margin: 0 10px;
}

.manga-header{
    font-weight: bold;
}

.manga-header,
.manga-info{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 1.5fr 2fr 1fr;
    padding: 15px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.manga-info img{
    width: 80px;
    height: 100px;
}

.manga-action i{
    cursor: pointer;
}

.manga-action i:nth-of-type(1){
    margin-right: 10px;
}

.manga-icon{
    display: flex;
}

.manga-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.manga-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.manga-icon i{
    margin-right: 5px;
    color: black!important;
}

.add-manga-container{
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.add-manga{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: var(--black);
    width: 90%;
    max-width: 520px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.add-manga i{
    position: absolute;
    font-size: 18px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.add-manga i:hover{
    transform: translateY(-5px);
}

.add-manga label{
    color: white;
    font-weight: bold;
}

.add-manga input{
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    border: solid 1px #363636;
    outline: none;
    margin: 10px 0 10px;
    border-radius: 5px;
}

.add-manga select{
    width: 100%;
}

.add-manga button{
    padding: 7px 7px 7px 5px;
    background-color: var(--green);
    color: black;
    border: none;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    margin: auto;
    border-radius: 5px;
}

.add-manga button:hover {
    background-color: var(--green-l);
}

.add-manga h2 {
    text-align: center;
    margin-bottom: 25px;
}

.add-manga-imgs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.add-manga-imgs img{
    width: 125px;
    height: 80px;
}

.add-manga-imgs i{
    position: static;
    color: black;
}

.add-manga-imgs label{
    color: black;
    font-weight: normal;
    cursor: pointer;
}

.add-manga-file{
    background-color: var(--green);
    border-radius: 5px;
    padding: 5px;
}

.add-manga-file:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

input[type='file'] {
    display: none;
}

.order-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.order-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 450px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.order-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.order-search{
    position: relative;
}

.order-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.order-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.order-controller label{
    color: white;
    margin: 0 10px;
}

.order-header{
    font-weight: bold;
}

.order-header,
.order-info{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1.5fr 1.5fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.order-action i{
    cursor: pointer;
}

.order-action i:nth-of-type(1){
    margin-right: 10px;
}

.order-status-Pending{
    background-color: rgb(230, 158, 25);
    padding: 5px;
    border-radius: 5px;
}

.order-status-Delivered{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.order-status-Canceled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.order-action{
    cursor: pointer;
}

.order-icon{
    display: flex;
}

.order-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.order-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.order-icon i{
    margin-right: 5px;
    color: black!important;
}

.order-approve-container{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.order-approve{
    position: relative;
    background-color: var(--black);
    width: 90%;
    max-width: 450px;
    min-height: 300px;
    max-height: 80vh;
    margin: 90px auto;
    padding: 20px 20px 10px;
    color: white;
    bottom: unset;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    overflow-y: auto; /* Enables scrolling when needed */
    text-align: left;
}

.order-approve i{
    position: absolute;
    right: 3%;
    top: 3%;
    color: rgba(255, 255, 255, 0.752);
    cursor: pointer;
}

.order-approve img{
    width: 50px;
}

.order-approve div{
    margin: 20px 0;
}

.order-approve button{
    margin-top: 10px;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: none;
}

.order-approve button i{
    color: white;
    position: static;
}


.employee-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.employee-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.employee-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 420px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.employee-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.employee-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.employee-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.employee-controller button i{
    color: black;
}

.employee-search{
    position: relative;
}

.employee-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.employee-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.employee-controller label{
    color: white;
    margin: 0 10px;
}

.employee-header{
    font-weight: bold;
}
.employee-header,
.employee-info{
    display: grid;
    grid-template-columns: 3fr 2.5fr 3fr 2fr 2fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.employee-status-Active{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.employee-status-Disabled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.employee-action i{
    cursor: pointer;
}

.employee-action i:nth-of-type(1){
    margin-right: 10px;
}

.employee-icon{
    display: flex;
}

.employee-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.employee-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.employee-icon i{
    margin-right: 5px;
    color: black!important;
}

.add-employee-container{
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.add-employee{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: var(--black);
    width: 90%;
    max-width: 520px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.add-employee i{
    position: absolute;
    font-size: 18px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.add-employee i:hover{
    transform: translateY(-5px);
}

.add-employee label{
    color: white;
    font-weight: bold;
}

.add-employee input{
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    border: solid 1px #363636;
    outline: none;
    margin: 10px 0 10px;
    border-radius: 5px;
}

.add-employee button{
    padding: 7px 7px 7px 5px;
    background-color: var(--green);
    color: black;
    border: none;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    margin: auto;
    border-radius: 5px;
}

.add-employee button:hover {
    background-color: var(--green-l);
}

.add-employee h2 {
    text-align: center;
    margin-bottom: 25px;
}



.supplier-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.supplier-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.supplier-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 300px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.supplier-controller input[type='date']{
    width: 12%;
    padding: 0 10px;
    color: var(--gray);
}

.supplier-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.supplier-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.supplier-controller button i{
    color: black;
}

.supplier-search{
    position: relative;
}

.supplier-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.supplier-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.supplier-controller label{
    color: white;
    margin: 0 10px;
}

.supplier-header{
    font-weight: bold;
}
.supplier-header,
.supplier-info{
    display: grid;
    grid-template-columns: 2fr 3.5fr 2.5fr 3.5fr 2fr 2fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.supplier-status-Active{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.supplier-status-Disabled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.supplier-action i{
    cursor: pointer;
}

.supplier-action i:nth-of-type(1){
    margin-right: 10px;
}

.supplier-icon{
    display: flex;
}

.supplier-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.supplier-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.supplier-icon i{
    margin-right: 5px;
    color: black!important;
}

.add-supplier-container{
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.add-supplier{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: var(--black);
    width: 90%;
    max-width: 520px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.add-supplier i{
    position: absolute;
    font-size: 18px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.add-supplier i:hover{
    transform: translateY(-5px);
}

.add-supplier label{
    color: white;
    font-weight: bold;
}

.add-supplier input{
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    border: solid 1px #363636;
    outline: none;
    margin: 10px 0 10px;
    border-radius: 5px;
}

.add-supplier button{
    padding: 7px 7px 7px 5px;
    background-color: var(--green);
    color: black;
    border: none;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    margin: auto;
    border-radius: 5px;
}

.add-supplier button:hover {
    background-color: var(--green-l);
}

.add-supplier h2 {
    text-align: center;
    margin-bottom: 25px;
}


.stock-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stock-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.stock-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 300px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.stock-controller input[type='date']{
    width: 12%;
    padding: 0 10px;
    color: var(--gray);
}

.stock-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.stock-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.stock-controller button i{
    color: black;
}

.stock-search{
    position: relative;
}

.stock-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.stock-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.stock-controller label{
    color: white;
    margin: 0 10px;
}

.stock-header{
    font-weight: bold;
}
.stock-header,
.stock-info{
    display: grid;
    grid-template-columns: 2fr 3.5fr 2.5fr 3.5fr 2fr 2fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.stock-status-Active{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.stock-status-Disabled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.stock-action{
    cursor: pointer;
}

.stock-action i{
    cursor: pointer;
}

.stock-action i:nth-of-type(1){
    margin-right: 10px;
}

.stock-icon{
    display: flex;
}

.stock-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.stock-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.stock-icon i{
    margin-right: 5px;
    color: black!important;
}

.stock-details-container{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.stock-details{
    position: relative;
    background-color: var(--black);
    width: 90%;
    max-width: 450px;
    min-height: 300px;
    max-height: 80vh;
    margin: 90px auto;
    padding: 20px 20px 10px;
    color: white;
    bottom: unset;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    overflow-y: auto; /* Enables scrolling when needed */
    text-align: left;
}

.stock-details i{
    position: absolute;
    right: 3%;
    top: 3%;
    color: rgba(255, 255, 255, 0.752);
    cursor: pointer;
}

.stock-details img{
    width: 50px;
}

.stock-details div{
    margin: 20px 0;
}

.stock-details button{
    margin-top: 10px;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: none;
}

.stock-details button i{
    color: white;
    position: static;
}

.add-stock-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.add-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--black);
    width: 90%;
    max-width: 520px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out;
}

/* Fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -55%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.add-stock i {
    position: absolute;
    font-size: 18px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.add-stock i:hover {
    transform: translateY(-5px);
}

.add-stock label {
    color: white;
    font-weight: bold;
}

.add-stock input {
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
    width: 100%;
    border: solid 1px #363636;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.stock-search {
    position: relative;
    margin-bottom: 15px;
}

.stock-search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.stock-search input {
    padding-left: 40px;
}

.search-results {
    background: var(--black);
    border: 1px solid var(--gray);
    border-radius: 5px;
    margin-top: 5px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background 0.3s;
}

.search-results li:hover {
    background: var(--green);
}

.stock-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.stock-item label {
    flex: 1;
}

.stock-item input {
    width: 80px;
    text-align: center;
}

.add-stock button {
    padding: 7px;
    background-color: var(--green);
    color: black;
    border: none;
    font-size: 18px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.add-stock button:hover {
    background-color: var(--green-l);
}

.stock-statistic-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stock-statistic-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.stock-statistic-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 420px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.stock-statistic-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.stock-statistic-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.stock-statistic-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.stock-statistic-controller button i{
    color: black;
}

.stock-statistic-search{
    position: relative;
}

.stock-statistic-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.stock-statistic-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.stock-statistic-controller label{
    color: white;
    margin: 0 10px;
}

.stock-statistic-header{
    font-weight: bold;
}
.stock-statistic-header,
.stock-statistic-info{
    display: grid;
    grid-template-columns: 2fr 3.5fr 2.5fr 4fr 2.5fr 2fr 2fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.stock-statistic-status-Active{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.stock-statistic-status-Disabled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.stock-statistic-action i{
    cursor: pointer;
}

.stock-statistic-action i:nth-of-type(1){
    margin-right: 10px;
}

.stock-statistic-icon{
    display: flex;
}

.stock-statistic-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.stock-statistic-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.stock-statistic-icon i{
    margin-right: 5px;
    color: black!important;
}

.stock-statistic-items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 36px;
}

.stock-statistic-item{
    display: flex;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    width: 33%;
    height: 150px;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.stock-statistic-item-icon i{
    font-size: 45px;
    margin-right: 25px;
    color: white;
}





.order-statistic-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-statistic-controller{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.order-statistic-controller input{
    background-color: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray);
    height: 36px;
    color: white;
    margin-right: 25px;
    width: 420px;
    padding: 0 10px 0 40px;
    font-size: 16px;
    flex-grow: 1;
}

.order-statistic-controller input[type='date']{
    width: 15%;
    padding: 0 10px;
    color: var(--gray);
}

.order-statistic-controller button{
    color: black;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-left: 15px;
}

.order-statistic-controller button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.order-statistic-controller button i{
    color: black;
}

.order-statistic-search{
    position: relative;
}

.order-statistic-search i{
    position: absolute;
    left: 10px;   
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

.order-statistic-controller i:nth-of-type(1){
    color: white;
    /* padding: 10px;
    background-color: var(--gray); */
}

.order-statistic-controller label{
    color: white;
    margin: 0 10px;
}

.order-statistic-header{
    font-weight: bold;
}
.order-statistic-header,
.order-statistic-info{
    display: grid;
    grid-template-columns: 2fr 3.5fr 2.5fr 4fr 2.5fr 2fr 2fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
} 

.order-statistic-status-Active{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.order-statistic-status-Disabled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.order-statistic-action i{
    cursor: pointer;
}

.order-statistic-action i:nth-of-type(1){
    margin-right: 10px;
}

.order-statistic-icon{
    display: flex;
}

.order-statistic-icon button{
    background-color: var(--green);
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    width: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.order-statistic-icon button:hover{
    cursor: pointer;
    background-color: var(--green-l);
}

.order-statistic-icon i{
    margin-right: 5px;
    color: black!important;
}

.order-statistic-items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 36px;
}

.order-statistic-item{
    display: flex;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    width: 33%;
    height: 150px;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.order-statistic-item-icon i{
    font-size: 45px;
    margin-right: 25px;
    color: white;
}




.admin-login-container{
    background: url('../assets/access-denied.png') no-repeat center center/cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#admin-login{
    width: 350px;
    position: absolute;
    height: 560px;
    right: 2%;
    top: 50%;
    transform: translateY(-36%);
}

#admin-login h1{
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.admin-login-input{
    width: 100%;
    height: 52px;
    margin: 17px 0;
}

/* .admin-login-input label {
    color: rgba(255, 51, 0, 0.76);
    font-size: 14px;
    display: block;
    margin: 5px;
    font-family: 'Poppins-Regular', sans-serif;
} */

#admin-login input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: black;
}

#admin-login input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

#admin-login-btn{
    width: 100%;
    height: 60px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

#admin-login-btn:hover {
    cursor: pointer;
    background-color: var(--green-l);
}

#admin-login a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

#admin-login a::after{
    content: '';
    background-color: var(--gray);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#admin-login a:hover::after{
    width: 0;
}

