.product__page{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.product{
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 40px auto;
    background-color: rgba(32, 28, 28, 0.93);
    display: flex;
    animation: topDown 0.55s ease;
}

@keyframes topDown{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes bottomUp{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-700px);
    }
}

#product__close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2em;
    transition: transform 0.3s;
    color: white;
}

#product__close:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.product *{
    color: white;
}

.product h1{
    font-size: 1.5em;
    margin-top: 3px;
}

.product__img{
    width: 45%;
    margin-top: 12px;
}

.product__info{
    margin-top: 15px;
    margin-left: 30px;
    width: 55%;
}

.product__img{
    position: relative;
}

.product__img img{
    width: 100%;
    height: 77%;
    margin: 0;
    margin-top: 12.2px;
    transition: 0.32s ease-in-out;
}

.product__img img:nth-of-type(1){
    position: absolute;
}

.product__img a:nth-of-type(1) img{
    width: 27%;
    height: 17%;
    position: absolute;
    bottom: 12px;
    left: 0;
}

.product__img a:nth-of-type(2) img{
    width: 27%;
    height: 17%;
    position: absolute;
    bottom: 12px;
    left: 135px;
}

.product__img a:hover{
    cursor: pointer;
}

.product__info button:hover{
    cursor: pointer;
}

.product__info--rating i{
    color: gold;
}

.product__info--rating :nth-child(5)
{
    color: white;
}

.product__info p:nth-of-type(1){
    font-size: 1.07em;
}

.product__info p:nth-of-type(2){
    color: var(--gray);
}

.product__info p:nth-of-type(4){
    font-size: 1.05em;
}

.product__info p:nth-of-type(5){
    margin-bottom: 110px;
}

.product__info p:nth-of-type(6){
    font-size: 0.95em;
}

.product__info p:nth-of-type(7){
    font-size: 0.95em;
}

.carddetails-quantity{
    height: 45px;
}

#quantitydown,
#quantityup{
    background-color: var(--black);
    color: white;
    border: 1px solid #303828;
    width: 50px;
    height: 100%;
    cursor: pointer;
    margin-bottom: 25px;
}

#quantitydown{
    border-right: none;
}

#quantityup{
    border-left: none;
}

#quantity{
    background-color: var(--black);
    border: solid 1px #303828;
    border-left: none;
    border-right: none;
    width: 70px;
    height: 100%;
    text-align: center;
    color: white;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 
#quantity {
    -moz-appearance: textfield;
} */

.product__info button{
    background-color: var(--green);
    border: none;
    color: black;
    height: 55px;
    width: 320px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 27px;
}

.product__info button:hover{
    background-color: var(--green-l);
}
