.cart{
    position: relative;
    margin: 150px 20px; 
    padding: 15px;
    width: 70%;
}

.cart h2{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.cart-desc{
    display: grid;
    grid-template-columns: 57% 25% 7.5%;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #303828;
    text-align: center;
}

.cart-desc h3{
    color: white;
}

.cart-summary{
    border: solid 1px #303828;
    color: #ddd;
    height: 150px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 30px auto 0;
}

#checkout-btn{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--green);
    color: black;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

#checkout-btn:hover{
    background-color: var(--green-l);
}

/* responsive */
@media (max-width: 768px) {
    .cart {
        width: 95%;
        margin: 30px 5px;
    }

    .cart h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .cart-desc {
        display: none;
    }

    .cart-summary {
        padding: 15px;
    }

    #checkout-btn {
        font-size: 0.9em;
    }
}