header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 20px 25px;
    font-size: 1rem;
    z-index: 1;
    background-color: var(--black);
}

.logo img{
    cursor: pointer;
    width: 85px;
    height: 70px;
    object-fit: cover;
    margin: 0 40px;
}

.navbar{
    display: flex;
}

.navbar a{
    margin: 0 45px;
    text-decoration: none;
    color:white;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.5s;

    position: relative;
    width: max-content;
    cursor: pointer;
}

.navbar a::after{
    content: '';
    background-color: white;
    height: 2.4px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2.1px;
    transition: 0.3s;
}

.navbar a:hover::after{
    width: 100%;
}

.icons{
    margin: 0 20px;
    display: flex;
}

.icons i{
    padding: 0 12px;
    transition: 0.3s;
    color: white;
}

.icons i:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.icons .user{
    display: flex;
}

.icons .user div{
    color: #28a745;
    font-size: 14px;
    transform: translateY(1px);
}

.category:hover div{
    opacity: 1;
    visibility: visible;
    color: red;
}

.category__dropdown{
    position: fixed;
    top: 100px;
    left: 51%;
    /* left: 0; */
    /* width: 100%;
    left: 50%;
    transform: translateX(-50%); */
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    z-index: 1;
    padding: 10px;
    opacity: 0;
    visibility: hidden;

    background-color: var(--black);
    /* background-color: red; */
}

.category__dropdown a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
    font-weight: light;
    margin: 10px 20px 10px 0;
}

.category__dropdown a:hover{
    color: white;
}

.category__dropdown a::after{
    content: '';
    background-color: var(--gray);
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.category__dropdown a:hover::after{
    width: 0;
    color: white;
}