.pagination{
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px auto 0;
}

.pagination span{
    color: white;
    width: 50px;
    height: 40px;  
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;     
    margin: 0 10px;
}

.pagination__btn {
    width: 40px;
    height: 40px;
    border: solid 1px #303828;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--green);
    font-weight: bold;
    cursor: pointer;
}

.pagination__btn i:nth-of-type(2){
    display: none;
}

.pagination__btn:nth-of-type(1):hover #left__angle{
    display: none;
}

.pagination__btn:nth-of-type(1):hover #left__arrow{
    display: inline;
}

.pagination__btn:nth-of-type(2):hover #right__angle{
    display: none;
}

.pagination__btn:nth-of-type(2):hover #right__arrow{
    display: inline;
}
