.search-popup{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.search{
    position: absolute;
    width: 620px;
    height: 620px;
    margin: auto;
    top: 30px;
    right: 1%;
    background-color: var(--black);
    animation: rightToLeft 0.5s ease;  
}

.searchbox{
    width: 100%;
    height: 60px;
    padding: 30px;
}

.searchbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    padding: 10px 0 30px;
    font-size: 25px;
    color: white;
}

.searchbox input::placeholder{
    color: #8d8d8d;
    font-size: 25px;
}

.searchbox i{
    position: absolute;
    font-size: 20px;
    right: 36px;
    transition: transform 0.3s;
    color: white;
}

/* filter */

.searchbox i:hover,
.filter-container i:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

#filter i{
    position: absolute;
    right: 36px;
    top: 95px;
    transition: transform 0.3s;
    color: white;
}

.filter-container{
    position: relative;
    top: 70px;
    padding: 0 20px;
}

.filter-container select{
    margin-right: 20px;
    height: 36px;
    width: 210px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
}

.filter-container option{
    background: var(--black);
}

.filter-container input{
    width: 95px;
    height: 36px;
    margin-right: 10px;
    background: transparent;
    border: none;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding-left: 12px;
    color: white;
}

.filter-container input::-webkit-outer-spin-button,
.filter-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-container span{
    color: white;
    margin-right: 12.5px;
    height: 30px;
}

.filter-container i{
    font-size: 20px;
    transition: transform 0.3s;
}

@keyframes leftToRight{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(700px);
    }
}

@keyframes rightToLeft{
    from{
        transform: translateX(700px);
    }

    to{
        transform: translateX(0);
    }
}

@media screen and (max-width: 670px) {
    .search
    {
        position: relative;
        width: 500px;
        height: 500px;
        margin: auto;
        background-color: var(--black);
        animation: rightToLeft 0.5s ease;  
    }

    .filter-container select{
        margin-bottom: 20px;
        width: 90%;
    }

    .filter-container span:nth-child(2){
        margin-left: 64px;
    }

    .filter-container span:nth-child(4){
        margin-left: 10px;
        margin-right: 20px;
    }
}