#user-info{
    position: relative;
    top: 120px;
    height: 64px;
    background-color: #282424;
    padding: 0 40px;
}

#user-info ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

#user-info ul li{
    color: #c0bcbc;
    list-style: none;
}

#user-info div{
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

#user-info div li{
    font-weight: bold;
    font-size: 17px;
}

#user-info li:hover{
    color: white;
    cursor: pointer;
}


#order-container{
    position: relative;
    top: 150px;
    border: 1px solid white;
    width: 50%;
    margin: 0 auto;
}

.order-history{
    margin: 0 auto;
    padding: 20px;

}

.order{
    display: flex;
    margin: 0 auto;

}

#order-container h2{
    color: #ddd;
    margin: 20px 0;
    text-align: center;
}

.order{
    padding: 15px;
}

.order:first-child{
    border-top: 1px solid #ddd;
}

.order{
    border-bottom: 1px solid #ddd;
}

.order:last-child{
    border-bottom: none;
}

.order .order-info{
    width: 30%;
}

.order .order-items-details{
    width: 85%;
}

.order-id,
.order-date,
.order-status{
    font-weight: bold;
    color: #ddd;
}

.order-cancel-btn{
    display: block;
    height: 35px;
    width: 130px;
    margin-top: 5px;
    padding: 5px;
    background-color: #008d3f;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.order-cancel-btn:hover{
    background-color: #00b63a;
}

.order-items-details ul{
    list-style: none;
    padding: 0;
}

.order-items-details li{
    padding: 5px 0;
}

.status--completed{
    color: green;
}

.status--pending{
    color: orange;
}

.status--cancelled{
    color: red;
}

.status-pending{
    color: orange;
}

.show-details{
    cursor: pointer;
    color: #ddd;
}

.order-items-details{
    color: #ddd;
}



