*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

:root{
    --black: #201c1c;
    --green: #08dc64;
    --green-l: #08bc5c;
    --gray: #bbbbbb;
    --error: red;
    font-size: 16px;
}

.banner{
    margin: 240px 0 0 0;
}

.banner img{
    width: 100%;
    height: 560px;
}

.error div{
    padding: 10px;
    background: var(--black);
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}

.error input{
border: 1px solid var(--error);
}

/* login */

#login{
    width: 400px;
    position: relative;
    top: 200px;
    height: 560px;
    margin: 0 auto;
}

#login h1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.login-input{
    width: 100%;
    height: 55px;
    margin: 17px 0;
}

.login-input label {
    color: rgba(255, 51, 0, 0.76);
    font-size: 14px;
    display: block;
    margin: 5px;
    font-family: "Poppins-Regular", sans-serif;
}

#login input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: white;
}

#login input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

#login-btn{
    margin-top: 12px;
    width: 100%;
    height: 65px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

#login-btn:hover {
    cursor: pointer;
    background-color: var(--green-l);
}

#login a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

#login a::after{
    content: '';
    background-color: var(--gray);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#login a:hover::after{
    width: 0;
}

#login-signup{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#login-forget{
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* signup */

#signup{
    width: 450px;
    position: relative;
    height: 700px;
    top: 120px;
    margin: auto;
}

#signup h1{
    font-size: 45px;
    color: white;
    text-align: center;
}

.signup-input{
    width: 100%;
    height: 55px;
    margin: 25px 0;
}

#signup input{
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: white;
}

#signup input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

#signup-btn{
    width: 100%;
    height: 65px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 5px;
}

#signup-btn:hover{
    background-color: var(--green-l);
    cursor: pointer;
}

#signup a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

#signup a::after{
    content: '';
    background-color: var(--gray);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#signup a:hover::after{
    width: 0;
}

#signup-login{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.signup-input label {
    color: rgba(255, 51, 0, 0.76);
    font-size: 14px;
    display: none;
    margin: 3px;
    font-family: "Poppins-Regular", sans-serif;
}

/* pagination */

.pagination{
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px auto 0;
}

.pagination span{
    color: white;
    width: 50px;
    height: 40px;  
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;     
    margin: 0 10px;
}

.pagination-btn {
    width: 40px;
    height: 40px;
    border: solid 1px #303828;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--green);
    font-weight: bold;
    cursor: pointer;
}

.pagination-btn i:nth-of-type(2){
    display: none;
}

.pagination-btn:nth-of-type(1):hover #left-angle{
    display: none;
}

.pagination-btn:nth-of-type(1):hover #left-arrow{
    display: inline;
}

.pagination-btn:nth-of-type(2):hover #right-angle{
    display: none;
}

.pagination-btn:nth-of-type(2):hover #right-arrow{
    display: inline;
}

/* display */

.container {
    margin: 150px auto 0;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 25px;
}

/* slider */

.slider{
    position: relative;
    top: 123px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0;
}

.slider-list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: 100%;
    transition: 1s;
}

.slider-list img{
    width: 1519px;
    height: 100%;
    object-fit: fill;
}

.slider-button{
    position: absolute;
    top: 42%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider-button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-weight: bold;
}

.slider-dots{
    position: absolute;
    left: 82%;
    bottom: 15%;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider-dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px;
    border-radius: 20px;
    transition: 1s;
}

.slider-dots li.active{
    background-color: #fff;
    width: 29px;
}

/* notification */

#notification {
    visibility: hidden;
    min-width: 250px;
    color: black;
    background: var(--green);
    font-family: "Poppins-Regular", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
    padding: 20px;
    position: fixed;
    z-index: 3;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes drop-in {
    from {top: 0; opacity: 0}
    to {top: 70px; opacity: 1}
}

@keyframes drop-out {
    from {top: 70px; opacity: 1}
    to {top: 0; opacity: 0}
}

#notification.show{
    visibility: visible;
    animation: drop-in 0.8s, drop-out 0.8s 1.8s;
}